{% extends 'student/studentbase.html' %}
{% load widget_tweaks %}
{% block content %}


    <head>
        <style>
            img.minecraft {
              display: block;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              width: 40%;
              height: 40%;
              padding-top: 100px;
            }
        </style>
    </head>

    <body>
        <a href="https://education.minecraft.net/en-us" target="_blank" rel="noopener noreferrer"><img class="minecraft"  src="../static/PNG/minecraft.png" alt="minecraft"></a>
    </body>
{% endblock content %}