<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>BesMLMS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="/static/assets/img/beslms.png" class="resize"  rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     
  
 
    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
  

  
     
  
  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href=" " class="scrollto"><img src="/static/PNG/logo1.png" alt=""><img src="/static/assets/img/beslms.png" alt="" title=""><img src="/static/PNG/logo2.png"alt=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0" style="margin-right:50px;">
        <ul>
         <li><a class="nav-link scrollto {% if navbar == 'student-dashboard' %}active{% endif %} " href="{% url 'student-dashboard' %}">Home</a></li>
         <li><a class="nav-link scrollto {% if navbar == 'student-assignment' %}active{% endif %} " href="{% url 'student-assignment' %}">Assignment</a></li>
         <li><a class="nav-link scrollto {% if navbar == 'student-exam' %}active{% endif %} " href="{% url 'student-exam' %} ">Exam</a></li>
         <li><a class="nav-link scrollto  {% if navbar == 'student-marks' %}active{% endif %} " href="{% url 'student-marks' %}">Marks</a></li>
         <li><a class="nav-link scrollto {% if navbar == 'student-video' %}active{% endif %}" href="{% url 'student-video' %}">Video</a></li>
         <li><a class="nav-link scrollto {% if navbar == 'student-library' %}active{% endif %}" href="{% url 'student-library' %}">Library</a></li>
         <li><a class="nav-link scrollto {% if navbar == 'student-games' %}active{% endif %}" href="{% url 'student-games' %}">Games</a></li>
         <li><a class="nav-link scrollto {% if navbar == 'student-profile' %}active{% endif %}" href="{% url 'student-profile' %}">Profile</a></li>
         <li><a  class="nav-link scrollto {% if navbar == 'student-bmi' %}active{% endif %}" href="{% url 'student-bmi' %}">BMI</a></li>
         <li><a class="nav-link scrollto " href="/logout">Logout</a></li> 
       
         <!-- <div class="dropdown">
          <li><a class="nav-link scrollto  dropdown-toggle  {% if navbar == 'student-exam' %}active{% endif %} ||  {% if navbar == 'student-marks' %}active{% endif %} "  data-toggle="dropdown">Exam
          <span class="caret"></span></a></li>
          <ul class="dropdown-menu"style="width:1px;" >
            <li><a  class="nav-link scrollto {% if navbar == 'student-exam' %}active{% endif %} " href="{% url 'student-exam' %} ">Exam</a></li>
            <li><a class="nav-link scrollto  {% if navbar == 'student-marks' %}active{% endif %} " href="{% url 'student-marks' %}">Marks</a></li>
          </ul>
        </div>

            <div class="dropdown">
              <li><a class="nav-link scrollto  dropdown-toggle {% if navbar == 'student-video' %}active{% endif %}" data-toggle="dropdown">Materials
              <span class="caret"></span></a></li>
              <ul class="dropdown-menu"style="width:1px;">
                <li><a class="nav-link scrollto {% if navbar == 'student-video' %}active{% endif %}" href="{% url 'student-video' %}">Video</a></li>
                <li><a class="nav-link scrollto {% if navbar == 'student-exam' %}active{% endif %}" href="{% url 'student-library' %}">Library</a></li>
                <li><a class="nav-link scrollto {% if navbar == 'student-exam' %}active{% endif %}" href="{% url 'student-games' %}">Games</a></li>
              </ul>
            </div>
            
            <div class="dropdown">
              <li><a class="nav-link scrollto  dropdown-toggle " href="# " data-toggle="dropdown">Profile
              <span class="caret"></span></a></li>
              <ul class="dropdown-menu" style="width:1px;">
                <li><a class="nav-link scrollto {% if navbar == 'student-profile' %}active{% endif %}" href="{% url 'student-profile' %}">Profile</a></li>
                <li><a  class="nav-link scrollto {% if navbar == 'student-bmi' %}active{% endif %}" href="{% url 'student-bmi' %}">BMI</a></li>
                <li><a class="nav-link scrollto " href="/logout">Logout</a></li>    
              </ul>
            </div>
            -->
           
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      
    </div>
  </header><!-- End Header -->

        <!--content start-->
   <div class="content">
        <br><br><br><br>
        {% block content %}

      {% endblock content %}


    {% include "student/footer.html" %}
  </div>
 

  <!--content end-->
  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

  
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

  

</body>

</html>

