{% extends 'student/studentbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}



<div class="jumbotron my-4">

  <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="/student/calculate-marks" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 style="text-align: center;">Subject: {{subject.subject}}</h2>
    {% for a in assignment %}
    <h3 class="text-decoration">Instruction: {{a.instruction}}</h3>
    <h3 class="text-primary">File: {{a.upload}}
      <a href="{{ a.upload.url }}" class="btn btn-primary btn-sm" target="_blank">
          Download File
      </a>
    </h3>
    <div>
      <label type="file">Upload</label>
    
        {% comment %} {% render_field assignmentForm.upload|attr:'required:true' class="form-control" placeholder="" %} {% endcomment %}
      
    </div>
    {% comment %} <label type="file">Upload</label>
    
        {% render_field assignmentForm.upload|attr:'required:true' class="form-control" placeholder="" %} {% endcomment %}
        <div>
        <input class="btn btn-success btn-lg" style="border-radius: 0%;"  type="submit" value="Submit Assignment"> 
        </div>
        <br>
        {% endfor %} 
    </form>
  </div>

<script> 
    function saveAns(){  

        var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type="radio") { 
                if(ele[i].checked){        
                  setCookie(ele[i].name,ele[i].value,3)
                }
            } 
        } 
          
    }
    
    function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

</script> 

<br><br><br><br><br><br>
{% endblock content %}