{% extends 'student/studentbase.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
  <style media="screen">

label{
  color:white;
  font-size: medium;
}
.labels {
    font-size: 11px
}



</style>
 

</head>    
<br><br>
<h2 style="text-align:center;">Update Student</h2>


<div>
  <form method="post" autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
 

      <div class="container rounded mt-5 mb-5" style="background-color: #0A065E;">
        <div class="row">
            <div class="col-md-3 border-right">
             
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ user.student.profile_pic.url }}" class="profile_image" alt="">
                  <span class="font-weight-bold">{{ request.user.first_name }}
                  {{ request.user.last_name }}
                </span><span class="text-white-50">{{ request.user.email }}</span><span> </span></div>
            </div>
            <div class="col-md-8 border-right">
                <div class="p-5 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
                          {% render_field  user_form.first_name class="form-control" placeholder="First Name" %}
                        </div>  
                        <div class="col-md-6"><label class="labels">Surname</label>
                          {% render_field user_form.last_name class="form-control" placeholder="Last Name" %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label>
                          {% render_field profile_form.mobile class="form-control" placeholder="Mobile" %}
                        </div>
                        <div class="col-md-12"><label class="labels">Address</label>
                          {% render_field profile_form.address class="form-control" placeholder="Address" %}
                        </div>
                        <div class="col-md-12"><label class="labels">Username</label>
                          {% render_field user_form.username class="form-control" placeholder="Username" %}
                        </div>
                        <div class="col-md-12"><label class="labels">Latest Body Mass Index(BMI)</label>
                          {% render_field profile_form.bmi class="form-control" placeholder="BMI" %}
                        </div>
                        <div class="col-md-12"><label class="labels">Level</label>
                           {% render_field profile_form.level class="form-control" placeholder="Grade" %} 
                        </div>
                        <div class="col-md-12"><label class="labels">Email</label>
                          {% render_field user_form.email class="form-control" placeholder="Email" %}
                          <br><br>
                        </div>
                        <div class="col-md-12"><label class="labels">Profile Picture</label>
                          {% render_field profile_form.profile_pic class="form-control" placeholder="Profile Picture" %}
                        </div>
                    </div>
                    <div class="row mt-3">
                      <!--<div class="col-md-6"><button class="btn btn-primary profile-button" type ="reset" href = 'student-profile'>Cancel</button></div>  
                      <div class="col-md-6"><a href='student-profile'id="cancel" name="cancel" class="btn btn-primary profile-button">Cancel</a></div>
                      <div class="col-md-6"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>-->
                      <div class="col-md-6"><a href='student-profile'id="cancel" name="cancel" class="btn btn-primary profile-button">Cancel</a></div>
                      <div class="col-md-6"><input class="btn btn-primary profile-button" type="submit" value="Update"></div>
                  </div>
                   
                </div>
            </div>
            
        </div>
    </div>
    </div>
    </div>
</div>



<br><br><br><br><br><br><br><br>
{% endblock %}
