{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}

<div class="content-body">
  <div class="container-fluid">            
      <div class="row page-titles mx-0">
          <div class="col-sm-6 p-md-0">
              <div class="welcome-text">
                  <h4>Registered Students</h4>
              </div>
          </div>
          <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
              </ol>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <div class="row tab-content">
                <div id="list-view" class="tab-pane fade active show col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Registered Students</h4>
                        </div>
                        
                        <div class="card-header">
                            <button type="button" class="btn btn-rounded btn-danger"><span class="btn-icon-left text-danger"><i class="fa fa-download color-danger" id="btnPDF"></i>
                            </span>PDF</button>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                          <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    
                                    <th scope="col" style = 'text-align:center;'>Student ID</th>
                                    <th scope="col" style = 'text-align:center;'> Name</th>
                                    <th scope="col" style = 'text-align:center;'> Photo</th>
                                    <th scope="col" style = 'text-align:center;'> Action</th>
                                        
                                </tr>
                            </thead>
                            <tbody>              
                                {% for s in students %}   
                                <tr>
                                    <td  style = 'text-align:center;'>{{ s.id }}</td>   
                                    <td  style = 'text-align:center;'>{{ s.get_name}}</td>   
                                    <td> <img src="{{ s.profile_pic.url }}" alt="Profile Pic" height="40px" width="40px" /></td>
                                    <td><a class="btn btn-primary btn-sm" style="border-radius: 0%;" href="{% url 'admin-view-marks' s.id  %}"><span class="glyphicon glyphicon-eye-open"></span> View Marks</a></td>
                                </tr>

    {% endfor %}
  </table>
</div>
</div>
</div>
{% endblock content %}