{% extends 'exam/adminhomepagebase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}
	<div class="container">
    <div class="cover">
      <!--Holds the image for the sign in-->
      <div class="front">
        <img src="../static/assets/img/signinbackground.png">
      </div>
      <!--End for image hold-->
    </div> 
    <!--Start of Forms-->
		<div class="forms">
			<div class="form-content">
			  <div class="login-form">
          <div class="title">Admin Login</div>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Username" name="username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div>
                <br> 
                  
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
                {% endif %}
                <br>
              </div>
            </div>
          </form>
        </div>
		  </div>
		</div>
    <!--End of Forms-->
	</div>
{% endblock content %}
