{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}
<div class="content-body">
  <div class="container-fluid">            
      <div class="row page-titles mx-0">
          <div class="col-sm-6 p-md-0">
              <div class="welcome-text">
                  <h4>Section</h4>
              </div>
          </div>
          <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                  <li class="breadcrumb-item active"><a href="javascript:void(0);">Elementary</a></li>
                  <li class="breadcrumb-item active"><a href="javascript:void(0);">Grade 1</a></li>
              </ol>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
            <div class="row tab-content">
                <div id="list-view" class="tab-pane fade active show col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-rounded btn-danger"><span class="btn-icon-left text-danger"><i class="fa fa-download color-danger" id="btnPDF"></i>
                            </span>PDF</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example3" class="display" style="min-width: 845px">
                                    {% for t in teacher %} 
                                        <h4 class="card-title">Assigned Teacher : {{t.get_name}}</h4>
                                    {% endfor %}
                                    <thead>
                                        <tr>
                                            <th scope="col" style = 'text-align:center;'> ID </th>
                                            <th scope="col" style = 'text-align:center;'> Name</th>
                                            <th scope="col" style = 'text-align:center;'> Level</th>
                                            <th scope="col" style = 'text-align:center;'> Photo</th>
                                            <th scope="col" style = 'text-align:center;'> Address</th>
                                            <th scope="col" style = 'text-align:center;'> Contact #</th>
                                            <th scope="col" style = 'text-align:center;'> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>              
                                        {% for s in student %}  
                                        <tr>
                                            <td>{{ s.id }}</td>   
                                            <td>{{ s.get_name }}</td>
                                            <td>{{ s.gradelevels}}</td>      
                                            <td> <img src="{{ s.profile_pic.url }}" alt="Profile Pic" height="40px" width="40px" /></td>
                                            <td >{{ s.mobile }}</td>
                                            <td >{{ s.address }}</td>
                                            <td>
                                                <a type="button" class="btn btn-sm btn-primary" href="{% url 'update-student' s.id  %}">
                                                    <i class="la la-pencil"></i>
                                                </a>
                                
                                                <a type="button" class="btn btn-sm btn-danger" href="{% url 'delete-student' s.id  %}">
                                                    <i class="la la-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}