{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin</title>
    
     <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
     <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- Favicon icon -->
    <link rel="icon" type="../../static/admin/image/png" sizes="16x16" href="../../static/assets/img/beslms.png">
    <link rel="stylesheet" href="../../static/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../static/admin/css/style.css">
    <link rel="stylesheet" href="../../static/admin/vendor/jqvmap/css/jqvmap.min.css">
	<link rel="stylesheet" href="../../static/admin/vendor/chartist/css/chartist.min.css">
	<link rel="stylesheet" href="../../static/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../static/admin/css/style.css">
	<link rel="stylesheet" href="../../static/admin/css/skin-2.css">
    <link href="../../static/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Pick date -->
    <link rel="stylesheet" href="./../static/admin/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="./../static/admin/vendor/pickadate/themes/default.date.css">
    

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href=" " class="brand-logo">
                <img class="logo-abbr" src="../../static/PNG/logo1.png" alt="">
                <img class="brand-title" src="../../static/assets/img/beslms.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
                          <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                              <img src="/static/image/admin.png" class="profile_image" width="20" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="/logout" class="logout_btn" style="border-radius:0px;"> Logout</a>
                            </div>
                          </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">
                        Main Menu
                    </li>
                    <li>
                      <a href="/admin-dashboard" aria-expanded="false">
							        <i class="la la-home"></i>
							        <span class="nav-text" href="/admin-dashboard">Dashboard</span>
						          </a>
					          </li>
                    <li>
                      <a href="/admin-teacher" aria-expanded="false">
							        <i class="la la-home"></i>
							        <span class="nav-text" href="/admin-teacher">Teacher Section</span>
						          </a>
                    </li>
                    <li>
                      <a href="/admin-student" aria-expanded="false">
							        <i class="la la-home"></i>
							        <span class="nav-text" href="/admin-student">Student Section</span>
						          </a>
                    </li>
                    <li>
                      <a href="/admin-course" aria-expanded="false">
							        <i class="la la-home"></i>
							        <span class="nav-text" href="/admin-course">Subject Section</span>
						          </a>
                    </li>
                        
				        </ul>
            </div>
        </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content %}

        {% endblock %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Banilad Elementary School Mandaue Learning Management System
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../../static/admin/vendor/global/global.min.js"></script>
	<script src="../../static/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../../static/admin/js/custom.min.js"></script>
	<script src="../../static/admin/js/dlabnav-init.js"></script>

    <!-- Chart ChartJS plugin files -->
    <script src="../../static/admin/vendor/chart.js/Chart.bundle.min.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="../../static/admin/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Chart sparkline plugin files -->
    <script src="../../static/admin/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
	
		<!-- Demo scripts -->
    <script src="../../static/admin/js/dashboard/dashboard-3.js"></script>
	
	<!-- Svganimation scripts -->
    <script src="../../static/admin/vendor/svganimation/vivus.min.js"></script>
    <script src="../../static/admin/vendor/svganimation/svg.animation.js"></script>
    <script src="../../static/admin/js/styleSwitcher.js"></script>

      <!--  jQuery -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

      <!-- Bootstrap Date-Picker Plugin -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
      
      <script>
          $(document).ready(function(){
          var date_input=$('input[name="date"]'); //our date input has the name "date"
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          var options={
              format: 'mm/dd/yyyy',
              container: container,
              todayHighlight: true,
              autoclose: true,
          };
          date_input.datepicker(options);
          })
      </script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"></script>
      <script src="../../static/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
      <script src="../../static/admin/js/plugins-init/datatables.init.js"></script>
  
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
      <script type="text/javascript">
      $("body").on("click", "#btnPDF", function () {
          html2canvas($('#example3')[0], {
              onrendered: function (canvas) {
                  var data = canvas.toDataURL();
                  var docDefinition = {
                      content: [{
                          image: data,
                          width: 500
                      }]
                  };
                  pdfMake.createPdf(docDefinition).download("teacher-list.pdf");
              }
          });
      });
      </script>
  
	
</body>
</html>
