{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<style type="text/css">
  a:link {
    text-decoration: none;
  }

  .order-card {
    color: rgb(255, 255, 255);
  }

  .bg-c-1 {
    background: #FD0100;
  }

  .bg-c-2 {
    background:#F76915;
  }

  .bg-c-3 {
    background: #EEDE04;
  }

  .bg-c-4 {
    background: #A0D636;
  }
  .bg-c-5 {
    background: #2FA236;
  }
  .bg-c-6 {
    background: #333ED4;
  }

  .card {
    
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }
  header {
  left: 0px;
  right: 0px;
}
</style>
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xl-6">
        <a href="admin-grade1" style="text-decoration: none;color:white;">
        <div class="card bg-c-1 order-card">
          <div class="card-block">
            <h2 class="m-b-20">Grade 1</h2>
            <h2 class="text-right"><i class="fas fa-chalkboard-teacher f-left"></i><span>{{total_section_grade1}}</span></h2>
          </div>
        </div>
      </a>
      </div>
  
      <div class="col-md-4 col-xl-6">
        <a href="admin-grade1" style="text-decoration: none;color:white;">
        <div class="card bg-c-2 order-card">
          <div class="card-block">
            <h2 class="m-b-20">Grade 2</h2>
            <h2 class="text-right"><i class="fas fa-sync-alt f-left"></i><span>{{total_section_grade2}}</span></h2>
          </div>
        </div>
      </a>
      </div>
  
      <div class="col-md-4 col-xl-6">
        <a href="admin-view-course" style="text-decoration: none;color:white;">
        <div class="card bg-c-3 order-card">
          <div class="card-block">
            <h2 class="m-b-20">Grade 3</h2>
            <h2 class="text-right"><i class="fas fa-dollar-sign f-left"></i><span>{{total_course}}</span></h2>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xl-6">
        <a href="admin-view-course" style="text-decoration: none;color:white;">
        <div class="card bg-c-4 order-card">
          <div class="card-block">
            <h2 class="m-b-20">Grade 4</h2>
            <h2 class="text-right"><i class="fas fa-dollar-sign f-left"></i><span>{{total_course}}</span></h2>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xl-6">
        <a href="admin-view-course" style="text-decoration: none;color:white;">
        <div class="card bg-c-5 order-card">
          <div class="card-block">
            <h2 class="m-b-20">Grade 5</h2>
            <h2 class="text-right"><i class="fas fa-dollar-sign f-left"></i><span>{{total_course}}</span></h2>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xl-6">
        <a href="admin-view-course" style="text-decoration: none;color:white;">
        <div class="card bg-c-6 order-card">
          <div class="card-block">
            <h2 class="m-b-20">Grade 6</h2>
            <h2 class="text-right"><i class="fas fa-dollar-sign f-left"></i><span>{{total_course}}</span></h2>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
