{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-clipboard"></i>
        </span> Add Subject
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>
    <h2 style="text-align:center;">Add Subject</h2>
<form method="POST" autocomplete="off" enctype="multipart/form-data"style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        <label for="assignment">Subject Name</label>
    
      {% render_field subjectForm.subject|attr:'required:true' class="form-control"  %}
        <br>

      <label for="assignment">Description</label>
    
      {% render_field subjectForm.description|attr:'required:true' class="form-control" %}
        <br>
        </div>
        <button type="submit" class="btn btn-success" style="border-radius: 0%;">Submit</button>
    </div>
  </form>
  </div>
</div>

{% endblock content %}