{% include 'teacher/teacherbase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
     <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-library-books"></i>
          </span> Library
        </h3>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
           </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <form class="d-flex align-items-center h-20" action="#">
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects" class="mdi mdi-magnify">
									 <a href="{% url 'teacher-upload-book' %}" class="btn btn-primary">Add</i></a>
              </form>
              <div class="row mt-3">
                <table id="example3" class="display" style="min-width: 845px">
                  <thead>
                      <tr>
                          <th scope="col" style = 'text-align:center;'> Book ID</th>
                          <th scope="col" style = 'text-align:center;'> Title</th>
                          <th scope="col" style = 'text-align:center;'> Subject</th>
                          <th scope="col" style = 'text-align:center;'> Image</th>
                          <th scope="col" style = 'text-align:center;'> File</th>
                          <th scope="col" style = 'text-align:center;'> Date</th>
                          <!-- <th scope="col" style = 'text-align:center;'> File</th> -->
                          <th scope="col" style = 'text-align:center;'> Action</th>
                      </tr>
                  </thead>
                  <tbody>              
                      {% for b in books %}   
              
                      <tr>  
                          <td  scope="col" style = 'text-align:center;'>{{ b.id }}</td>   
                          <td  scope="col" style = 'text-align:center;'>{{ b.title }}</td>  
                          <td  scope="col" style = 'text-align:center;'>{{ b.subject }}</td> 
                          <td> <img src="{{ b.cover.url }}" alt="{{b.title}}" height="40px" width="40px" /></td>
                          <td> 
                                  <a href="{{ b.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                                      Download File
                                  </a>
                          </td>  
                          <td  scope="col" style = 'text-align:center;'>{{ b.date }}</td>  
                              <!-- <td style = 'text-align:center;'><img src="/image{{ b.books.url }}"/> -->
                          <!-- <td scope="col" style = 'text-align:center;'></td>-->
                          </td>
                          <td  scope="col" style = 'text-align:center;'> 
                              <a type="button" class="btn btn-sm btn-primary" href="{% url 'admin-update-file' b.pk %}" ><!--/admin-edit-book/pk -->
                                      <i class="la la-pencil"></i>
                              </a>
              
                              <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal-{{b.id}}">
                                  <i class="la la-trash-o"></i>
                              </button>
                          </td>
                      </tr>
                      
                      <!-- Modal VIEW -->
                     <div class="modal fade" id="newModal-{{b.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header" style="background-color:#6db33f">
                                        <h5 class="modal-title", style="font-size: large; font-family: Trirong;">VIEW DETAILS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <form id="updateForm" method="post"  action="">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                        <input type="text" name="booking-id" value = {{b.id}} hidden>
                                        <div class="row" text-align ="center">
                                          <div class="col-12" id="startup-tab-1">
                                              
                                            <!--<div class="row">
                                                  <div class="col-xl-12 col-xxl-12 col-sm-12">
                                               <div class="card">
                                                  <div class="card-header">
                                                      <h5 class="card-title">Book Details</h5> 
                                                  </div> 
                                               <div class = "row" >

                                                  <div class="col-lg-6 col-md-6 col-sm-12">
                                                      <div class="form-group">
                                                          <label class="form-label">Title</label>
                                                          <input type="text" class="form-control" name="Title" value="{{b.title}}">
                                                      </div>
                                                  </div>

                                                  <div class="col-lg-6 col-md-6 col-sm-12">
                                                      <div class="form-group">
                                                          <label class="form-label">Subject</label>
                                                          <input type="text" class="form-control" name="Subject" value="{{b.subject}}">
                                                      </div>
                                                  </div>

                                                  <div class="col-lg-6 col-md-6 col-sm-12">
                                                      <div class="form-group">
                                                          <label class="form-label">Date</label>
                                                          <input type="text" class="form-control" name="Date" value="{{b.date}}">
                                                      </div>
                                                  </div>
                                                 
                                                  
                                                   </div>
                                               </div>
                                               </div>

                                            </div>-->
                                          </div>
                                        </div>
                                      <div class="modal-footer">
                                          <button type="submit"  class="btn btn-primary">UPDATE</button>                             
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>                       
                                      </div>
                                    </div>
                                  </form>
                              </div>
                          </div>
                      </div>
      
                      <!-- Modal DELETE-->
                      <div class="modal fade" id="exampleModal-{{b.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                              <div class="modal-header" style="background-color:#6db33f">
                                  <h5 class="modal-title" id="exampleModalLabel">DELETE RECORD</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <form id="deleteForm" method="post" action="{% url 'admin-delete-book' b.pk %}" >
                              {% csrf_token %} 
                              <div class="modal-body">                       
                                  <input type="text" name="bbooking-id" value = {{b.id}} hidden>
                                  Are you sure you want to delete this record?
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                  <button type="submit"  class="btn btn-primary">YES</button>
                              </div>
                              </div>
                              </form>
                          </div>
                      </div>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © B E S M L M S</span>
      <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Banilad Elementary School Mandaue Learning Management System</span>
    </div>
  </footer>
</div>
{% endblock %}
<!--**********************************
    Content body end
***********************************-->