{% extends 'signinbase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}
    <div class="container">
      <div class="forms">
        <div class="form-content">
      <div class="jumbotron" style="margin-top: 0px;
        margin-bottom: 0px;">
        <h1 class="display-4">Hello {{request.user.first_name}},</h1>
        <p class="lead" style="color:black">Your Account has not been <b style="color:red">ACTIVATED</b> yet! <br><br>Waiting for approval from the administrator <br><br>and Soon you'll be able to access your Account after approval</p>
        <hr class="my-4">
       
        <p class="lead">
          <a class="btn btn-danger btn-lg" href="/logout" style="border-radius: 0%;" role="button">Logout Now</a>
        </p>
      </div>
        </div>
      </div>
    </div>
{% endblock %}