{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<style type="text/css">
  a:link {
    text-decoration: none;
  }

  .order-card {
    color: rgb(255, 255, 255);
  }

  .bg-c-blue {
    background: #04868f;
  }

  .bg-c-gtx {
    background:#57717d;
  }
  .bg-c-yellow {
    background: #F56565;
  }

  .bg-c-pink {
    background: #663a30;
  }


  .card {
    
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }
  header {
  left: 0px;
  right: 0px;
}
</style>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span> Dashboard
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>

 <div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xl-4">
        <a href="#" style="text-decoration: none;color:white;">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20"> Total Registered Students</h6>
            <h2 class="text-right"><i class="fas fa-chalkboard-teacher f-left"></i><span>{{total_student}}</span></h2>
          </div>
        </div>
      </a>
      </div>
  
      <div class="col-md-4 col-xl-4">
        <a href="admin-view-course" style="text-decoration: none;color:white;">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Subjects</h6>
            <h2 class="text-right"><i class="fas fa-dollar-sign f-left"></i><span>{{total_course}}</span></h2>
          </div>
        </div>
      </a>
      </div>

      <div class="col-md-4 col-xl-4">
        <a href="admin-view-question" style="text-decoration: none;color:white;">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Questions</h6>
            <h2 class="text-right"><i class="fas fa-dollar-sign f-left"></i><span>{{total_question}}</span></h2>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
  </div>
  <footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © B E S M L M S</span>
      <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Banilad Elementary School Mandaue Learning Management System</span>
    </div>
  </footer>
</div>


<br><br><br><br><br><br><br><br><br><br>

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>


{% endblock content %}
