{% extends 'exam/adminhomepagebase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}
	<div class="container">
    <div class="cover">
      <!--Holds the image for the sign in-->
      <div class="front">
        <img src="../static/assets/img/signinbackground.png">
      </div>
      <!--End for image hold-->
    </div> 
    <!--Start of Forms-->
		<div class="forms">
			<div class="form-content">
			  <div class="login-form">
          <div class="title">Teacher Login</div>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your username" name="username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <br>
              <p style ="color: black;"> Don't have an account?<a href="{% url 'teacherclick' %}"> Create account<a></p>
              <div>
                <br> 
                {% comment %} Sends Error messages when wrong input values {% endcomment %}
                  {% comment %} {% for message in messages %}
                    <p id="messages" style="color:red">{{message}}</p>
                  {% endfor %} {% endcomment %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
                {% endif %}
                <br>
              </div>
            </div>
          </form>
          <div>
            <div class="title">Other Sign-In Options</div>
            <div>
              <button class="other-button">
                <a href="" target="_blank" rel="noopener noreferrer"><img class="google" src="../static/assets/img/google.png" alt="google"></a>
              </button>
            </div>
            <div>
              <button class="other-button">
                <a href="" target="_blank" rel="noopener noreferrer"><img class="microsoft" src="../static/assets/img/microsoft.png" alt="microsoft"></a>
              </button>
            </div>
          </div>
        </div>
		  </div>
		</div>
    <!--End of Forms-->
	</div>
{% endblock %}
