{% extends 'admin/adminhomepagebase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}
	<div class="container">
    <div class="cover">
        <img src="../static/PNG/logo1.png" alt="">
    </div>
		<div class="forms">
			<div class="form-content">
				<div class="signup-form">
					<div class="title">Teacher Signup Form</div>
				  <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
					  <div class="input-boxes">
						<div class="input-box">
						  <i class="fas fa-user"></i>
						  <label for="first_name" required></label>
              {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
						</div>
						<div class="input-box">
						  <i class="fas fa-envelope"></i>
						  <label for="last_name"></label>
              {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
						</div>
						<div class="input-box">
						  <i class="fas fa-lock"></i>
              <label for="mobile"></label>
              {% render_field teacherForm.mobile|attr:'required:true'  class="form-control" placeholder="Contact Number" %}
						</div>
						<div class="input-box">
							<i class="fas fa-lock"></i>
							<label for="address"></label>
              {% render_field teacherForm.address|attr:'required:true'  class="form-control" placeholder="Address" %}
						</div>
            <div class="input-box">
							<i class="fas fa-lock"></i>
							<label for="username"></label>
              {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="Username" %}
						</div>
            <div class="input-box">
							<i class="fas fa-lock"></i>
							<label for="inputPassword4"></label>
              {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="Password" %}
						</div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="profile_pic">Profile Picture</label>
                {% render_field teacherForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
              </div>
              <button type="submit" class="btn btn-success" style="border-radius: 0%;">Sign Up</button>
					  </div>
					</form>
			  	</div>
			</div>
		  </div>
		</div>
{% endblock %}
