{% extends 'teacher/teacherbase.html' %}
{% block content %}
{%load static%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

<style>
  .embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

  a:link {
    text-decoration: none;
  }

  .order-card {
    color: rgb(255, 255, 255);
  }

  .bg-c-blue {
    background: #04868f;
  }

  .bg-c-gtx {
    background:#57717d;
  }
  .bg-c-yellow {
    background: #F56565;
  }

  .bg-c-pink {
    background: #663a30;
  }


  .card {
    
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }
  header {
  left: 0px;
  right: 0px;
}
</style>
<div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-video"></i>
              </span> Video
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-12">
            <div class="row tab-content">
              <div id="list-view" class="tab-pane fade active show col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form action="." method="POSTS" enctype="multipart/form-data">
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects" class="mdi mdi-magnify">
                        {% csrf_token %}
                        {{form.as_p}}
                           <a href="{% url 'teacher-add-video' %}" class="btn btn-primary">Upload</i></a>
                    </form>
                    <br>
                    <div class="content-body">
                      <div class="container-fluid">
                        <div class="row">
                          {% for v in videos %}   
                          <div class="col-md-6 col-xl-6">
                            <a href="#" style="text-decoration: none;color:white;">
                            <div class="card bg-c-blue order-card">
                              <div class="card-block">
                                <h6 class="m-b-20"><video class="embed-responsive embed-responsive-1by1" controls="controls">
                                  <source src="{{v.video.url}}" type="video/mp4"/>
                                  </video></h6>
                                <h3 class="text-center">{{v.caption}}</h3>
                                <!--button type="button" class="btn btn-sm btn-primary">
                                  <i class="mdi mdi-delete"></i>
                              </button-->
                              </div>
                            </div>
                          </a>
                          </div>
                          {% endfor %}
                 </div>
               </div>
             </div>
           </div>
          </div>
       </div>
          <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © B E S M L M S</span>
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Banilad Elementary School Mandaue Learning Management System</span>
      </div>
    </footer>
</div>
{% endblock %}
<!--**********************************
    Content body end
***********************************-->