{% include 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<style >
  .center {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-face-profile"></i>
                </span> Profile
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                    <div class="col-lg-4">
                      <div class="nav-profile-image">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-1"><img class="rounded-circle" width="150px" src="{{ user.teacher.profile_pic.url }}">
                          <br>
                          <span class="font-weight-bold">{{request.user.first_name}}  {{request.user.last_name}}</span><span class="text-black-50">Teacher</span><span> </span></div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <form method="post" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">USER INFORMATION</h6>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group focused">
                                <label class="form-control-label" for="input-username">Username</label>
                                {% render_field  user_form.first_name class="form-control" placeholder="First Name" %}
                              </div>
                            </div>
                            <!--div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-email">Email address</label>
                                <input type="email" id="input-email" class="form-control form-control-alternative" value ="{{request.user.email}}">
                              </div>
                            </div-->
                          </div>
                        </div>
                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group focused">
                              <label class="form-control-label" for="input-firstname">First Name</label>
                              {% render_field  user_form.first_name class="form-control" placeholder="First Name" %}
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-lastname">Last Name</label>
                              {% render_field user_form.last_name class="form-control" placeholder="Last Name" %}
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                    <hr class="my-4">
                      <h6 class="heading-small text-muted mb-4">CONTACT INFORMATION</h6>
                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group focused">
                              <label class="form-control-label" for="input-city">Mobile</label>
                              {% render_field profile_form.mobile class="form-control" placeholder="Mobile" %}
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group focused">
                              <label class="form-control-label" for="input-country">Address</label>
                              {% render_field profile_form.address class="form-control" placeholder="Address" %}
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label class="form-control-label" for="input-country">Profile Picture</label>
                              <br>
                              {% render_field profile_form.profile_pic class="form-control" placeholder="Profile Picture" %}
                              <br>
                            </div>
                          </div>
                        </div>
                      <hr class="my-4">
                      </div>
                      <br><br>
                    <div class="center">
                      <button type="submit" class="btn btn-success">
                        Save
                      </button>
                  </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © B E S M L M S</span>
      <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Banilad Elementary School Mandaue Learning Management System</span>
    </div>
  </footer>
</div>
{% endblock %}
<!--**********************************
    Content body end
***********************************-->