{% include 'admin/base.html' %}
{% load static %}
{% block content %}
    <!-- row -->
<div class="content-body">
    <div class="container-fluid">          
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Grade Level</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../admin">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Grade Level</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Add Grade Level</a></li>
                </ol>
            </div>
        </div>
        

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                      <!--  <h4 class="card-title">Suject Details</h4>-->
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" class="form" role="form">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="form-label">Grade Level</label>
                                        <select class="form-control" name="gradelevels" value ={{s.gradelevels}}>
                                            <option value="false"></option>
                                            <option value="Kindergarten">Kindergarten</option>
                                            <option value="Grade 1">Grade 1</option>
                                            <option value="Grade 2">Grade 2</option>
                                            <option value="Grade 3">Grade 3</option>
                                            <option value="Grade 4">Grade 4</option>
                                            <option value="Grade 5">Grade 5</option>
                                            <option value="Grade 6">Grade 6</option>
                                        </select>  
                                </div>

                             <!--   <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Subjects</label>
                                        <select class="form-control" name="subject">
                                            {% for sub in subject %}
                                            <option value="{{ sub.title }}">
                                                {{ sub.title }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Assigned Teacher</label>
                                        <select class="form-control" name="techname">
                                            {% for t in teachers %}
                                            <option value="{{ t.firstname }}">
                                                {{ t.firstname }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>-->
                                


                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
<!--**********************************
    Content body end
***********************************-->