{% extends 'admin/adminbase.html' %}
{% block content %}
{%load static%}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">">

<div class="content-body">
  <div class="container-fluid">            
      <div class="row page-titles mx-0">
          <div class="col-sm-6 p-md-0">
              <div class="welcome-text">
                  <h4>Subject</h4>
              </div>
          </div>
          <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                  <li class="breadcrumb-item active"><a href="../admin-course">Subject</a></li>
                  <li class="breadcrumb-item active"><a href="javascript:void(0);">View Subject</a></li>
              </ol>
          </div>
      </div>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Courses</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Course</th>
          <th>Total Question</th>
          <th>Total Marks</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for t in courses %}
      <tr>

        <td> {{t.course_name}}</td>
        <td>{{t.question_number}}</td>
        <td>{{t.total_marks}}</td>
        
        <td><a class="btn btn-danger btn-xs" style="border-radius: 0%;" href="{% url 'delete-course' t.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
</div>

<br><br><br><br><br>
{% endblock content %}