{% include 'admin/base.html' %}
{% load static %}
{% block content %}
    <!-- row -->
<div class="content-body">
    <div class="container-fluid"> 
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>All Teacher</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../admin">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Teachers</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">All Teachers</a></li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">All Teachers  </h4>
                                <a href = "{% url 'addTeacherView' %}" class="btn btn-primary" >+ Add new</a>
                            </div>
                            <div class="card-header">
                                <button type="button" class="btn btn-rounded btn-danger"><span class="btn-icon-left text-danger"><i class="fa fa-download color-danger" id="btnPDF"></i>
                                </span>PDF</button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th scope="col" style = 'text-align:center;'> Teacher ID</th>
                                                <th scope="col" style = 'text-align:center;'> Name</th>
                                                <th scope="col" style = 'text-align:center;'> Gender</th>
                                                <th scope="col" style = 'text-align:center;'> Residence</th>
                                                <th scope="col" style = 'text-align:center;'> Handle</th>
                                                <th scope="col" style = 'text-align:center;'> Contact #</th>
                                                <th scope="col" style = 'text-align:center;'> Email</th>
                                                <th scope="col" style = 'text-align:center;'> Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>              
                                            {% for t in teachers %}   
                                    
                                            <tr>
                                                <td>{{ t.id }}</td>   
                                                <td>{{ t.firstname }} {{ t.lastname }}</td>  
                                                <td>{{ t.gender }}</td>
                                                <td>{{ t.residence }}</td>  
                                                <td>{{ t.handledGrade }}</td>
                                                <td>{{ t.contact }}</td>
                                                <td>{{ t.email }}</td>
                                                <td>
                                                    <a type="button" class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#newModal-{{t.id}}">
                                                        <i class="la la-pencil"></i>
                                                    </a>
                                    
                                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal-{{t.id}}">
                                                        <i class="la la-trash-o"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            
                                            <!-- Modal VIEW -->
                                            <div class="modal fade" id="newModal-{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color:#6db33f">
                                                            <h5 class="modal-title", style="font-size: large; font-family: Trirong;">VIEW DETAILS</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form id="updateForm" method="post" >
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <input type="text" name="teacher-Id" value = {{t.id}} hidden>
                                                                <div class="row" text-align ="center">
                                                                    <div class="col-12" id="startup-tab-1">

                                                                        <div class = "row" >
                                                                            <div class = "col-sm-4">
                                                                                <input type="text" class="form-control" id="id-firstname" placeholder="First Name" name="firstname" value ={{t.firstname}}>
                                                                            </div>
                                                                            <div class = "col-sm-4">
                                                                                <input type="text" class="form-control" id="id-lastname" placeholder="Last Name" name="lastname" value ={{t.lastname}}>
                                                                            </div>
                                                                        </div>

                                                                        <div class = "row">
                                                                            <div class = "col-sm-4">
                                                                                <select class="form-control" name="gender" value ={{ts.gender}}>
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class = "col-sm-4">
                                                                                <input type="text" class="form-control" id="id-residence" placeholder="Residence"  name="residence" value ={{t.residence}}>
                                                                            </div>
                                                                        </div>

                                                                        <div class = "row">
                                                                            <div class = "col-sm-4">
                                                                                <select class="form-control" name="handledGrade" value ={{t.handledGrade}}>
                                                                                    <option value="Kinder 1">Kinder 1</option>
                                                                                    <option value="Kinder 2">Kinder 2</option>
                                                                                    <option value="Grade 1">Grade 1</option>
                                                                                    <option value="Grade 2">Grade 2</option>
                                                                                    <option value="Grade 3">Grade 3</option>
                                                                                    <option value="Grade 4">Grade 4</option>
                                                                                    <option value="Grade 5">Grade 5</option>
                                                                                    <option value="Grade6 ">Grade 6</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class = "col-sm-4">
                                                                                <input type="text" class="form-control" id="id-contact" placeholder="Contact"  name="contact" value ={{t.contact}}>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class = "col-sm-4">
                                                                                <input type="text" class="form-control" id="id-email" placeholder="Email"  name="email" value ={{t.email}}>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="submit" id = "btnUpdate" name = "btnUpdate" class="btn btn-primary">UPDATE</button>                             
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>                          
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <!-- Modal DELETE-->
                                            <div class="modal fade" id="exampleModal-{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color:#6db33f">
                                                            <h5 class="modal-title" id="exampleModalLabel">DELETE RECORD</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form id="deleteForm" method="post" >
                                                            {% csrf_token %} 

                                                            <div class="modal-body">                       
                                                                <input type="text" name="tteacher-Id" value = {{t.id}} hidden>
                                                                Are you sure you want to delete this record?
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                                                <button type="submit" id = "btnDelete" name = "btnDelete" class="btn btn-primary">YES</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
    </div>
</div>
{% endblock %}
<!--**********************************
    Content body end
***********************************-->
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"></script>
<script src="../../static/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../static/admin/js/plugins-init/datatables.init.js"></script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        $("body").on("click", "#btnPDF", function () {
            html2canvas($('#example3')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("student-list.pdf");
                }
            });
        });
    </script>