{% extends 'student/studentbase.html' %}
{% load widget_tweaks %}
{% block content %}


{%load static%}   

<!--Simon Says Game-->
  <link rel="stylesheet" href="../../../../static/gamestyles.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<!-- partial -->
<br><br>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-gamepad"></i>
        </span> GAMES
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card" style=" margin-left: 60px;" >
          <div class="card-body"style ="height: 330px;">
            <a href="https://education.minecraft.net/en-us" target="_blank" rel="noopener noreferrer">
              <img class= "game" style ="height: 280px;" src="../../../static/PNG/minecraft.png" alt="minecraft">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card" style=" margin-right: 60px;">
          <div class="card-body" style ="height: 330px;">
            <h1 id="level-title"> 
              <a href="SimonSays">SIMON SAYS GAME</a>
            </h1>
          </div>
        </div>
      </div>
    </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->

</div>
</div>
{% endblock %}
<!--**********************************
    Content body end
***********************************-->