{% extends 'signinbase.html' %}
{% load widget_tweaks %}
{% block content %}
{%load static%}
	<div class="container">
        <div class="forms">
			<div class="form-content">
			    <div class="login-form">
                    <!--Left Side Content-->
                    <div class="split left">
                        <div class="centered">
                        <img src="../static/PNG/Student.png" alt="Avatar woman">
                        <div>
                            <button class="button button1"><a href="/student/studentlogin">STUDENT</a></button>
                        </div>
                        </div>
                    </div>
                    <!--Right Side Content-->
                    <div class="split right">
                        <div class="centered">
                        <img src="../static/PNG/Teacher.png" alt="Avatar man">
                        <div>
                            <button class="button button2"><a href="/teacher/teacherclick">TEACHER</a></button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}